* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

main {
  margin: 50px auto;
}

.box-s{

  display:flex;
  justify-content:center ;
}

.box{
  width:300px;
  background-color:#eeeeee;
  margin-right:30px;
}

.image{
  height:150px;
  padding:10px 10px;
}